<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Чек-лист перед поездкой 🏍️">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>